/* header */
.search{
    display: flex;
    justify-content: center;
    margin: 20px 0;

}
.search-input{
    padding: 10px 50px;
    border-radius: 10px;

}

/* landing page */
/* .btn{
    background-color: grey;
    padding: 20px 50px;
} */
.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 25px;
    padding: 10px 50px;
}
.btn{
    border: 1px solid black;
    background-color: gainsboro;
    border-radius: 10px;
    text-align: center;
    height: 100px;
    width: 400px;
}
