*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
    margin-top: 50px;
}
.input-field{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
::placeholder{
    font-family: Verdana, Geneva, Tahoma, sans-serify;
}
/* styling for the card */
.container{
    height: 350px;
    width: 900px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background-color: white;

}
.heading{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}
.input-field{
    margin-top: 25px;
}

.add-new{
    outline: none;
    border-radius: 15px;
    margin: -6px 20px 0 0;
    padding: 13px 24px;
    border: none;
    background-color: rgb(231, 227, 227);
}
.add-task{
    outline: none;
    border-radius: 15px;
    margin: -6px 20px 0 -15px;
    padding: 13px 24px;
    border: none;
    background-color: rgb(232, 107, 149);
}